<div class="row add-clients">
  <form>
    <div class="column medium-6">
      <label>Name</label>
      <input type="text" name="name" />
    </div>
    <div class="column medium-6">
      <label>Location</label>
      <input type="text" name="location" />
    </div>
    <div class="column medium-6">
      <label>Type</label>
      <input type="radio" name="type" value="C">Commercial<br>
      <input type="radio" name="type" value="R">Residential
    </div>
    <div class="column medium-6">
      <label>Address 1</label>
      <input type="text" name="address" />
    </div>
    <div class="column medium-6">
      <label>Address 2</label>
      <input type="text" name="address2" />
    </div>
    <div class="column medium-6">
      <label>City</label>
      <input type="text" name="city" />
    </div>
    <div class="column medium-6">
      <label>State</label>
      <input type="text" name="state" />
    </div>
    <div class="column medium-6">
      <label>Zipcode</label>
      <input type="text" name="zip" />
    </div>
    <div class="column medium-6">
      <label>Phone Number</label>
      <input type="text" name="phone" />
    </div>
    <div class="column medium-6">
      <label>Fax Number</label>
      <input type="text" name="fax" />
    </div>
    <div class="column medium-6">
      <label>Obtained By</label>
      <input type="text" name="obt_by" />
    </div>
    <button class="button submit_button">Add Client</button>
  </form>
</div>

<script type="text/javascript">
  $('.submit_button').click(function(e){
    e.preventDefault();
    inputs = $('form input');
    var fields = {};
    for(var i = 0; i < inputs.length; i++) {
      fields[inputs.eq(i).attr('name')] = inputs.eq(i).val();
    }
    insertDb('clients', fields);
    console.log(fields);
  })
</script>
