<input id="like" name="like" type="text" />
<table id="clientTable">
</table>
<script>
var settings = {
  limit: '100',
  off: 0,
  fields: '*',
}

queryClients(settings);
$(document).on('MySQL', function(){
  console.log('trigger');
  orgClients(global.queryOut);
});
function orgClients(rows) {
  var html = '';
  for(var i = 0; i < rows.length; i++){
    html += '<tr>';
  //  console.log(rows[i]);
    keys = Object.keys(rows[i]);
    for(var x = 0; x < keys.length; x++){

      html += '<td>'+rows[i][keys[x]]+'</td>'
    }
    html += '</tr>';
  }

  $('#clientTable').append(html);
}
$(document).scroll(function(){
  if(($(document).height() - $(document).scrollTop()) < 2000){
    settings.off += 100;
    queryClients(settings);
  }
})
$('#like').keyup(function(){
  settings.like = $('#like').val();
  $('#clientTable').html('');
  queryClients(settings);
})

</script>
