
<div class="row">
  <div class="medium-12 column search">
    <br>
    <label>Search By Name</label>
    <input id="like" name="like" type="text" />
    <div class="table-contain">
      <table id="clientTable">
      </table>
    </div>
  </div>
</div>

<script>
var settings = {
  limit: '100',
  offset: 0,
  fields: 'all',
}

queryClients(settings);
$(document).on('data', function(){
  console.log('trigger');
  orgClients(global.clientsJSON);
});
function orgClients(rows) {
  var html = '';
  var keys = Object.keys(rows[0]);
  html += '<tr>';
  for(var i = 0; i < keys.length; i++){
    html += '<td>'+keys[i]+'</td>';
  }
  html += '</tr>';
  for(var i = 0; i < rows.length; i++){
    html += '<tr>';
  //  console.log(rows[i]);
    keys = Object.keys(rows[i]);
    for(var x = 0; x < keys.length; x++){
      html += '<td>'+rows[i][keys[x]]+'</td>'
    }
    html += '</tr>';
  }

  $('#clientTable').append(html);
}
$('.table-contain').scroll(function(){
  if(($('.table-contain table').height() - $('.table-contain').scrollTop()) < 1000){
    settings.off += 100;
    queryClients(settings);
  }
})
$('#like').keyup(function(){
  settings.search_by = 'name';
  settings.search_term = $('#like').val();
  $('#clientTable').html('');
  queryClients(settings);
})

</script>
