<div class="wrapper row">
	<form id="form" >
		<div class="columns medium-6">
			<label>Start Date</label>
			<input type="text" name="start_date" class="date"/>
		</div>
		<div class="columns medium-6">
			<label>End Date</label>
			<input type="text" name="end_date" class="date"/>
		</div>
		<div class="medium-12 columns">
			<button class="submit button small" >Submit</button>
		</div>

	</form>
	<div class="medium-12 columns">
		<div id="tableHead">
			<tabel>
			</table>
		</div>
		<div id="agenda" class="row">
		</div>
	</div>
</div>
<script type="text/javascript">
$('.date').datepicker();
function getStWeek() {
	var date = getMonday(new Date);
	var day = date.getDay();
	console.log(date.getYear());
	var week = ('0' + (date.getMonth() + 1)).slice(-2) + '/' + ('0' + date.getDate()).slice(-2) + '/' + date.getFullYear();
	return week;
}
function getEndWeek() {
	var date = getSunday(new Date());
	var day = date.getDay();
	console.log(date.getYear());
	var week = ('0' + (date.getMonth() + 1)).slice(-2) + '/' + ('0' + date.getDate()).slice(-2) + '/' + date.getFullYear();
	return week;
}
function getMonday(d) {
  d = new Date(d);
  var day = d.getDay(),
      diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
  return new Date(d.setDate(diff));
}
function getSunday(d) {
  d = new Date(d);
  var day = d.getDay(),
      diff = d.getDate() + (day == 0 ? 0:7 - day); // adjust when day is sunday
  return new Date(d.setDate(diff));
}
$('[name="start_date"]').val(getStWeek());
$('[name="end_date"]').val(getEndWeek());
$('#form .submit').click(function(e){
	e.preventDefault();
	$.post(remoteURL+'?d=work-weeks', $('#form').serialize(), function(d){
	//	console.log(apidata.getObjectsByDate(JSON.parse(d), 'service_date', '10/05/2015'));

		createAgenda(JSON.parse(d));
	});
})
function createAgenda(data) {
	var cDay;
	$('#agenda').html(apidata.getWeekDays({start: $('[name="start_date"]').val(), end: $('[name="end_date"]').val(), sDay: 1, data: data}));
	// for(var i = 0; i < data.length; i++) {
	// 	if ('num_rows' in data[i]) {
	// 		break;
	// 	}
	// 	if(data[i].service_date != cDay) {
	// 		cDay = data[i].service_date;
	// 		console.log(cDay);
	// 		$('#agenda').append('<div class="column medium-2 '+dp.getName(cDay).toLowerCase()+' '+dp.getDate(cDay)+'">'+dp.getName(cDay)+'</div>');
	// 	}
	// 	$('#agenda .'+dp.getName(data[i].service_date).toLowerCase()+'.'+dp.getDate(data[i].service_date)).append('<div>'+data[i].job_name+'</div>');
	// }
	corectHeight('.week', '.day-hold');
}

function ProcessDates() {
	this.days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

	this.getName = function(date) {
		d = new Date(date);
		return this.days[d.getDay()];
	}
	this.getDate = function(date) {
		d = new Date(date);
		return this.twoDig(d.getMonth() + 1) + '-' + this.twoDig(d.getDate()) + '-' + d.getYear();
	}
	this.twoDig = function(int) {
		return ('0'+(int)).slice(-2);
	}
}
dp = new ProcessDates();

//$('#agenda').append(getWeekDays({start: $('[name="start_date"]').val(), end: $('[name="end_date"]').val(), sDay: 1}));

$.post(remoteURL+'?d=work-weeks', $('#form').serialize(), function(d){
//	console.log(apidata.getObjectsByDate(JSON.parse(d), 'service_date', '10/05/2015'));

	createAgenda(JSON.parse(d));
	corectHeight('.week', '.day-hold');
});
function corectHeight(tclass, find) {
	var tclass = $(tclass);

	for(var i = 0; i < tclass.length; i++) {
		var find = $(tclass).eq(i).find(find);
		console.log(find.length);
		var height = 0;
		for(var x = 0; x < find.length; x++) {

			if(find.eq(x).height() > height){
				height = find.eq(x).height();
			}
		}
		find.height(height);
	}
}
</script>
