//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    div(ng-repeat="(key, val) in customer"  ng-if="key != '_id' && key != '_rev' && key != 'type'")
        label() {{key}}
        input(ng-mogel="{{key}}" value="{{val}}")
     

div(class="edit") Edit Customer    
    div(class="row box")
        div(class="columns medium-3")
            label Active
            input(ng-model="customer.ACTIVE" value="{{customer.ACTIVE}}" type="checkbox")
        div(class="columns medium-3")
            label Inactive Since
            input(ng-model="customer.NACTIVE_DT" value="{{customer.NACTIVE_DT}}" type="text")
        div(class="columns medium-3")
            label AWW Pur
            input(ng-model="customer.AWWPUR" value="{{customer.AWWPUR}}" type="checkbox")
        div(class="columns medium-3")
            label Customer ID
            input(ng-model="customer.CUS_ID" value="{{customer.CUS_ID}}" type="checkbox")
    div(class="row box")
        div(class="medium-5 columns")
            label() Name
            input(ng-model="customer.NAME" value="{{customer.NAME}}" type="text")
            label() Location
            input(ng-model="customer.LOCATION" value="{{customer.LOCATION}}" type="text")
            div(class="row")
                div(class="columns small-4")
                    label() Area
                    input(ng-model="customer.AREA" value="{{customer.AREA}}" type="text")
                div(class="columns small-4")
                    label() Type
                    input(ng-model="customer.TYPE" value="{{customer.TYPE}}" type="text")
                div(class="columns small-4")
                    label() Company
                    input(ng-model="customer.COMPANY" value="{{customer.COMPANY}}" type="text")
        div(class="medium-2 columns")
            label() Monthly Bill
            input(ng-model="customer.MONBILL" value="{{customer.MONBILL}}" type="text")
        div(class="medium-5 columns")
            label() Customer Since
            input(ng-model="customer.OBT_DT" value="{{customer.OBT_DT}}" type="text")
            label() Obtained By
            input(ng-model="customer.OBT_BY" value="{{customer.OBT_BY}}" type="text")
            label() Royalty To
            input(ng-model="customer.RLTY_PYMT" value="{{customer.RLTY_PYMT}}" type="text")
    div(class="row box")
        div(class="medium-6 columns")
            label() Contact
            input(ng-model="customer.CONTACT" value="{{customer.CONTACT}}" type="text")
            label() Address
            input(ng-model="customer.ADR1" value="{{customer.ADR1}}" type="text")
            label() Address
            input(ng-model="customer.ADR2" value="{{customer.ADR2}}" type="text")
            div(class="row")
                div(class="columns small-4")
                    label() City
                    input(ng-model="customer.CITY" value="{{customer.CITY}}" type="text")
                div(class="columns small-4")
                    label() State
                    input(ng-model="customer.ST" value="{{customer.ST}}" type="text")
                div(class="columns small-4")
                    label() Zip
                    input(ng-model="customer.ZIP" value="{{customer.ZIP}}" type="text")
            label() Fax
            input(ng-model="customer.FAX" value="{{customer.FAX}}" type="text")
            label() Phone
            input(ng-model="customer.PHONE" value="{{customer.PHONE}}" type="text")
        div(class="medium-6 columns")
            label() Contact
            input(ng-model="customer.CONTACT_B" value="{{customer.CONTACT_B}}" type="text")
            label() Address
            input(ng-model="customer.ADR1_B" value="{{customer.ADR1_B}}" type="text")
            label() Address
            input(ng-model="customer.ADR2_B" value="{{customer.ADR2_B}}" type="text")
            div(class="row")
                div(class="columns small-4")
                    label() City
                    input(ng-model="customer.CITY_B" value="{{customer.CITY_B}}" type="text")
                div(class="columns small-4")
                    label() State
                    input(ng-model="customer.ST_B" value="{{customer.ST_B}}" type="text")
                div(class="columns small-4")
                    label() Zip
                    input(ng-model="customer.ZIP_B" value="{{customer.ZIP_B}}" type="text")
            label() Fax
            input(ng-model="customer.FAX_B" value="{{customer.FAX_B}}" type="text")
            label() Phone
            input(ng-model="customer.PHONE_B" value="{{customer.PHONE_B}}" type="text")
    div(class="row box")
        div(class="columns medium-6")
            div(class="row")
                div(class="columns medium-7")
                    input(ng-model="customer.EOM" value="{{customer.EOM}}" type="checkbox")
                    label() 4 Week Invoice
                    br
                    input(ng-model="customer.MONTHLY" value="{{customer.ADR1_B}}" type="checkbox")
                    label() Calendar Month Invoice
                    br
                    input(ng-model="customer.QTR_BILL" value="{{customer.QTR_BILL}}" type="checkbox")
                    label() Quartarly Invoice
                    br
                div(class="columns medium-5")
                    label() Bill Charge
                    input(ng-model="customer.BILLCHARGE" value="{{customer.BILLCHARGE}}" type="text")
                    label() Credit
                    input(ng-model="customer.CREDIT" value="{{customer.CREDIT}}" type="text")
                    label() Deposit
                    input(ng-model="customer.DEPOSIT" value="{{customer.DEPOSIT}}" type="text")
                    label() Sales Tax
                    input(ng-model="customer.STAXPER" value="{{customer.STAXPER}}" type="text")
        div(class="columns medium-6")
            label Customer Notes
                textarea(ng-model="customer.CUSNOTES" type="text"){{customer.CUSNOTES}}
            label Collection Notes
                textarea(ng-model="customer.BILLNOTES" type="text"){{customer.BILLNOTES}}
    div(class="row box")
        div(class="medium-8 columns jobs-section")
            div(ng-repeat="job in jobs" ng-click="selectJob(job._id)")
                div() {{job.SVC_DT}}
                div() {{job.SVC_BY}}
                div() {{job.AMOUNT}}
                div()  {{job.SVC_DESC}}
        div(class="medium-4 columns")
            button(class="small" ng-click="addJob()") Add
            br
            button(class="small" ng-click="editJob()") Edit
            br
            button(class="small" ng-click="removeJob()") Delete         
    div(class="row box")
        div(class="medium-12 columns")
            button(ng-click="save()") Save Customer
              