//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

div Job    
    div(class="row box")
        div(class="medium-6 columns")
            label Service By
            input(ng-model="job.SVC_BY" value="{{job.SVC_BY}}")
            label Amount
            input(ng-model="job.AMOUNT" value="{{job.AMOUNT}}")
        div(class="medium-6 columns")
            label Service Date
            input(ng-model="job.SVC_DT" value="{{job.SVC_DT}}")
            label Days Between
            input(ng-model="job.DAYS_BT" value="{{job.DAYS_BT}}")
        div(class="medium-12 columns")
            label Service Description
            textarea(ng-model="job.SVC_DESC" value="") {{job.SRV_DESC}}
            label Job Notes
            textarea(ng-model="job.NOTES" value="") {{job.NOTES}}
        div(class="medium-6 columns")
            label Payment Expected
            input(mg-model="job.PAY_EXP" value="{{job.PAY_EXP}}")
            label Print Invoice
            input(mg-model="job.INV_PRT" value="{{job.INV_PRT}}")
            label Work Order
            input(mg-model="job.SS_PRT" value="{{job.SS_PRT}}")
            label Print Auto Service Statement
            input(mg-model="job.A_SS_PRT" value="{{job.A_SS_PRT}}")
        