//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

div Customers    
    div(class="searc-box row")
        div(class="order-by columns medium-6")
            label Order By:
            select()
                option(ng-repeat="option in selectOption") {{option}}
        div(class="search-term columns medium-6")
            label Search Term:
            input(ng-model="searchTerm" type="text")
    div(class="jobs list-table")
        div(ng-repeat="job in jobs" class="job table-row" ng-click="edit(job._id)")
            div(class="name item") {{job.SVC_DT}}
            div(class="address item") {{job.SVC_BY}}
            div(class="phone item")  {{job.CUS_ID}}
              